stages:
  - test
  - build
  - deploy

test-job:
  stage: test
  script:
    - echo "Running tests..."
    - echo "Tests completed"

build-job:
  stage: build
  script:
    - echo "Building project..."
    - echo "Build completed"

deploy-job:
  stage: deploy
  script:
<<<<<<< HEAD
    - echo "Deploying application..."
    - echo "Deployment successful"
=======
    - echo "Deployment successful"
    
>>>>>>> fab05db648d881696550a8dc253355d340df5d69
